body{
    margin: 0;
    padding: 0;
}

.FundoPrincipal{
height: 100%;
width: 100%;

img{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Bio{


    position: absolute;
    left: 0;

    height: 100%;
    width: 30%;

    margin-left: 100px;
   
    
    ul{

        padding: 0;
        margin-top: 150px;
        margin-bottom: 100px;
        margin-left: 50px;
        margin-right: 50px;

        list-style-type: none;
        

        li{

            color: white;
            text-shadow: 2px 2px 2px black;

      

            h1{
                display: flex;
                justify-content: center;

                font-size: 50px;


            }

            p{
                display: flex;
                font-size: 22px;

                text-align: justify;

            }


        }

    }

}

.ProxDragões{
position: absolute;

bottom: 0;

height: 300px;
width: 100%;

ul{
    margin: 0;
    padding: 0;

     height: 100%;
     width: 100%;

  list-style-type: none;

display: flex;
justify-content: center;
align-items: center;

    li{

       button {
        box-shadow: 3px 3px 50px black;
        background-color: transparent;
        border: solid white;

        margin: 5px;

        /*Deixa o botão redondo*/
            width: 20px;
            height: 20px;
            border-radius: 100%;
        /*Deixa o botão redondo*/

        transition: 0.5s;
}

.Botão.Ativado {
   
        width: 25px;
        height: 25px;
        border-radius: 100%;

        background-color: white;
}
        
        
    }
}

}

}
