body{
    margin: 0;
    padding: 0;
}

.FundoPrincipal{
height: 100%;
width: 100%;

img{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Bio{


    position: absolute;
    
    background-color: white;
    
    left: 0;

    height: 100%;
    width: 30%;

    margin-left: 100px;
   
    
    ul{

        padding: 0;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 50px;
        margin-right: 50px;

        list-style-type: none;

        li{

            h1{
                display: flex;
                justify-content: center;

            }

            p{
                display: flex;
              

            }


        }

    }

}

.ImgDragão{

    position: absolute;
    
    background-color: white;
    
    right: 0;

    height: 100%;
    width: 60%;

}


}